.header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  height: var(--header-height);
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
}
