.align-items-center {
  align-items: center;
}

.background-color-gray {
  background-color: #f8f8f8;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.margin-left-20-px {
  margin-left: 20px;
}

.margin-top-20px {
  margin-top: 20px;
}

.text-color-white {
  color: var(--color-secondary);
}

.width-33-pct {
  width: 33%;
}

.width-420-px {
  width: 420px;
}
