.input {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  font-size: 14px;
  height: 25px;
  line-height: 16px;
  outline: none;
  padding: 0 10px;
  transition: border-color .2s ease-out;
  width: 140px;
}

.input:focus {
  border-color: #b4b4b4;
}
