.a-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('../../images/down-arrow.svg') 95% 50% no-repeat var(--color-secondary);
  background-size: 14px 14px;
  min-width: 140px;
  padding: 0 40px 0 10px;
  width: auto;
}
