.o-form {
  --form-text-color: #47c297;
}

.o-form__button {
  border: 1px solid var(--form-text-color);
  color: var(--form-text-color);
}

.o-form__button:hover {
  background-color: var(--form-text-color);
  border-color: transparent;
  color: var(--color-secondary);
}
