@import 'base/align-items.css';
@import 'base/box-sizing.css';
@import 'base/color.css';
@import 'base/display.css';
@import 'base/flex-direction.css';
@import 'base/font-size.css';
@import 'base/justify-content.css';
@import 'base/root.css';
@import 'base/typography.css';

@import 'atoms/link.css';

@import 'molecules/banner.css';
@import 'molecules/header.css';
@import 'molecules/logo.css';

/* ===ADVANTAGES=== */

.advantages {
  display: flex;
  justify-content: center;
}

.advantages__container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 1000px;
}

.advantages__advantage {
  margin: 0 20px;
  width: 33%;
}

/* ===CONTENT=== */

.content {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.content_contrast {
  background-color: #f8f8f8;
}

.content__container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  width: 900px;
}

.content__container_reverse {
  flex-direction: row-reverse;
}

.content__info {
  width: 450px;
}

.content__text + .content__text {
  margin-top: 10px;
}

/* ===REQUEST=== */

.request {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 60px 0 80px;
}

.request__title {
  margin-bottom: 30px;
}

/* ===FORM=== */

.form__fieldset {
  border-color: #47c297;
  padding: 15px 20px 25px;
  width: 320px;
}

.form__fieldset + .form__fieldset {
  margin-top: 20px;
}

.form__legend {
  color: #47c297;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.form__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('../images/down-arrow.svg') 95% 50% no-repeat #fff;
  background-size: 14px 14px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  font-size: 14px;
  height: 25px;
  min-width: 140px;
  outline: none;
  padding: 0 40px 0 10px;
}

.form__field {
  display: flex;
  justify-content: space-between;
}

.form__field + .form__field {
  margin-top: 20px;
}

.form__label {
  color: #162c41;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.form__input {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  font-size: 16px;
  height: 25px;
  outline: none;
  padding: 0 10px;
  width: 140px;
}

.form__button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #47c297;
  color: #47c297;
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  line-height: 16px;
  margin-top: 20px;
  padding: 0 20px;
  transition-property: background-color, color, border-color;
  transition: .2s ease-out;
}

.form__button:hover {
  background-color: #47c297;
  border-color: transparent;
  color: #fff;
}

/* ===FOOTER=== */

.footer {
  background-color: rgba(0, 14, 29, 0.87);
  display: flex;
  height: 170px;
  justify-content: center;
}

.footer__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  width: 900px;
}

.footer__copyright {
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
}

.footer__title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.footer__list {
  margin-top: 10px;
}

.footer__item {
  color: #fff;
}

.footer__link {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}
