/* ===GLOBAL=== */

body, html {
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ===HEADER=== */

.header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__text {
  margin-left: 10px;
}

.header__logo,
.header__link {
  color: #162C41;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.header__link {
  transition: color .2s ease-out;
}

.header__link:hover {
  color: #325B95;
}

.header__link + .header__link {
  margin-left: 15px;
}

/* ===BANNER=== */

.banner {
  align-items: center;
  background: url('../images/banner.png') 50% 70% no-repeat;
  background-size: cover;
  display: flex;
  height: 280px;
  justify-content: center;
  margin-top: 50px;
}

.banner__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__title {
  color: #fff;
  font-size: 28px;
  line-height: 32px;
  margin: 15px 0 5px;
}

.banner__text {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.banner__button {
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  font-size: 12px;
  height: 25px;
  justify-content: center;
  margin-top: 15px;
  padding: 0 10px;
  text-decoration: none;
  transition-property: background-color, color, border-color;
  transition: .2s ease-out;
}

.banner__button:hover {
  background-color: #fff;
  border-color: transparent;
  color: #000;
}

/* ===ADVANTAGES=== */

.advantages {
  display: flex;
  justify-content: center;
}

.advantages__container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 1000px;
}

.advantages__advantage {
  margin: 0 20px;
  width: 33%;
}

.advantages__title {
  color: #162c41;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 15px;
}

.advantages__text {
  color: #162c41;
  font-size: 12px;
  line-height: 18px;
}

/* ===CONTENT=== */

.content {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.content_contrast {
  background-color: #f8f8f8;
}

.content__container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  width: 900px;
}

.content__container_reverse {
  flex-direction: row-reverse;
}

.content__info {
  width: 450px;
}

.content__title {
  color: #162c41;
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 15px;
}

.content__text {
  color: #162c41;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.content__text + .content__text {
  margin-top: 10px;
}

/* ===REQUEST=== */

.request {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 60px 0 80px;
}

.request__title {
  color: #162c41;
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 30px;
}

/* ===FORM=== */

.form__fieldset {
  border-color: #47c297;
  padding: 15px 20px 25px;
  width: 320px;
}

.form__fieldset + .form__fieldset {
  margin-top: 20px;
}

.form__legend {
  color: #47c297;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.form__select {
  width: 140px;
}

.form__field {
  display: flex;
  justify-content: space-between;
}

.form__field + .form__field {
  margin-top: 20px;
}

.form__label {
  color: #162c41;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.form__input {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  height: 25px;
  outline: none;
  padding: 0 5px;
  width: 140px;
}

.form__button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #47c297;
  color: #47c297;
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  line-height: 16px;
  margin-top: 20px;
  padding: 0 20px;
  transition-property: background-color, color, border-color;
  transition: .2s ease-out;
}

.form__button:hover {
  background-color: #47c297;
  border-color: transparent;
  color: #fff;
}

/* ===FOOTER=== */

.footer {
  background-color: rgba(0, 14, 29, 0.87);
  display: flex;
  height: 170px;
  justify-content: center;
}

.footer__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  width: 900px;
}

.footer__logo {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.footer__text {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}

.footer__copyright {
  color: #fff;
  font-size: 10px;
  line-height: 12px;
}

.footer__title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.footer__list {
  margin-top: 10px;
}

.footer__item {
  color: #fff;
}

.footer__link {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}
