@import 'base/align-items.css';
@import 'base/background-color.css';
@import 'base/box-sizing.css';
@import 'base/color.css';
@import 'base/display.css';
@import 'base/flex-direction.css';
@import 'base/font-size.css';
@import 'base/justify-content.css';
@import 'base/root.css';
@import 'base/typography.css';

@import 'atoms/button.css';
@import 'atoms/fieldset.css';
@import 'atoms/input.css';
@import 'atoms/label.css';
@import 'atoms/link.css';
@import 'atoms/select.css';

@import 'molecules/advantages.css';
@import 'molecules/banner.css';
@import 'molecules/header.css';
@import 'molecules/logo.css';
@import 'molecules/request.css';

@import 'organisms/form.css';

@import 'templates/content.css';

/* ===FOOTER=== */

.footer {
  background-color: rgba(0, 14, 29, 0.87);
  display: flex;
  height: 170px;
  justify-content: center;
}

.footer__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  width: 900px;
}

.footer__copyright {
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
}

.footer__title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.footer__list {
  margin-top: 10px;
}

.footer__item {
  color: #fff;
}

.footer__link {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}
